<!-- Page header -->
<%= content_for :page_title do %>
  <h1 class="text-center">Bewerken <%= @calculatie.number %>-<%= @positie.number %></h1>
<% end %>

<!-- Breadcrumbs -->
<% breadcrumb :positie, @positie %>

<!-- Form -->
<%= render 'form', positie: @positie %>

<!-- Bottom links -->
<%= link_to 'Back', posities_path %>
