<!-- Page header -->
<%= content_for :page_title do %>
  <h1 class="text-center"><%= @calculatie.number %></h1>
  <h5 class="text-center"><%= @calculatie.name %></h5>
<% end %>

<!-- Breadcrumbs -->
<% breadcrumb :posities, @posities %>

<!-- Modal -->
<div class="large reveal" id="import" data-reveal>
  <%= render 'calculaties/import' %>
</div>

<div class="callout small secondary">
<!-- Table -->
<% if @posities.blank? %>
  <%= render 'layouts/no_data' %>
<% else %>

  <% if @locations.count == 1 %>

    <%= render 'table_header' %>
      <% @posities.each do |positie| %>
        <%= render 'table', positie: positie, cached: true %>
      <% end %>
    <%= render 'table_footer' %>

  <% else %>

    <% @locations.each do |location| %>
      <% posities = @calculatie.posities.where(location: location) %>

      <div class="callout primary text-center">
        <strong><%= location %></strong>
      </div>

      <%= render 'table_header' %>
      <% posities.each do |positie| %>
        <%= render 'table', positie: positie, cached: true %>
      <% end %>
      <%= render 'table_footer' %>

    <% end %>
  <% end %>
<% end %>

<table>
  <thead>
    <tr class="callout primary">
      <th>AANTAL UREN</th>
      <th class="text-right">TOTAAL MONTAGE</th>
      <th class="text-right">TOTAAL MATERIAAL BRUTO</th>
      <th class="text-right">TOTAAL MATERIAAL NETTO</th>
    </tr>
  </thead>
  <tbody>
    <tr class="callout">
      <td><%= distance_of_time_in_words(@totaal_uren) unless @totaal_uren == 0 %></td>
      <td class="text-right">&euro; <%= @montage_kosten unless @montage_kosten == 0 %></td>
      <td class="text-right">&euro; <%= @totaal_bruto unless @totaal_bruto == 0 %></td>
      <td class="text-right">&euro; <%= @totaal_netto unless @totaal_netto == 0 %></td>
    </tr>
    <tr>
      <td colspan="12" class="text-right">
        <strong>TOTAAL CALCULATIE:</strong> &euro; <%= @totaal_calculatie %>
      </td>
    </tr>
  </tbody>
  </table>
</div>

  <div class="expanded large button-group">
  <%= link_to new_calculatie_positie_path(@calculatie), class: 'button', id: 'new', data: { disable_with: "<i class='fi-clock'></i> Verwerken..." } do %>
    <i class="fi-plus"></i> Positie toevoegen
  <% end %>

  <% unless @calculatie.new_record? %>
    <%= link_to calculatie_import_path(@calculatie), class: "button hollow", remote: true, "data-open" => "import", data: { disable_with: "<i class='fi-clock'></i> Verwerken..." } do %>
      <i class="fi-upload"></i> Calculatie importeren
    <% end %>
  <% end %>
  </div>
