<!-- Page header -->
<%= content_for :page_title do %>
  <h1 class="text-center"><%= @calculatie.number %></h1>
  <h5 class="text-center"><%= @calculatie.name %></h5>
  <hr />
<% end %>

<!-- Breadcrumbs -->
<% breadcrumb :posities, @posities %>

<!-- Modal -->
<div class="large reveal" id="import" data-reveal>
  <%= render 'calculaties/import' %>
</div>

<!-- Table -->
<% if @posities.blank? %>
  <%= render 'default/no_data' %>
<% else %>

  <% if @locations.count == 1 %>

    <%= render 'table_header' %>
      <% @posities.each do |positie| %>
        <%= render 'table', positie: positie %>
      <% end %>
    <%= render 'table_footer' %>

  <% else %>

    <% @locations.each do |location| %>
      <% posities = @calculatie.posities.where(location: location) %>

      <div class="callout primary text-center">
        <strong><%= location %></strong>
      </div>

      <%= render 'table_header' %>
      <% posities.each do |positie| %>
        <%= render 'table', positie: positie %>
      <% end %>
      <%= render 'table_footer' %>

    <% end %>
  <% end %>
<% end %>

<hr />
<p class="text-right">
  <em>Totale productie tijd:
  <strong><%= distance_of_time_in_words(Calculatie.first.posities.collect.pluck(:production_time).sum) %></strong></em>
</p>
<hr />

<div class="expanded large button-group">
<%= link_to new_calculatie_positie_path(@calculatie), class: 'button', id: 'new', data: { disable_with: "<i class='fi-clock'></i> Verwerken..." } do %>
  <i class="fi-plus"></i> Positie toevoegen
<% end %>

<% unless @calculatie.new_record? %>
  <%= link_to calculatie_import_path(@calculatie), class: "button hollow", remote: true, "data-open" => "import", data: { disable_with: "<i class='fi-clock'></i> Verwerken..." } do %>
    <i class="fi-upload"></i> Calculatie importeren
  <% end %>
<% end %>
</div>
