<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @positie.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @positie.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @positie.location %>
</p>

<%= link_to 'Edit', edit_positie_path(@positie) %> |
<%= link_to 'Back', posities_path %>
