<p id="notice"><%= notice %></p>

<h1>Systemen</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @systemen.each do |systeem| %>
      <tr>
        <td><%= systeem.name %></td>
        <td><%= link_to 'Show', fabrikaat_systeem_path(systeem) %></td>
        <td><%= link_to 'Edit', edit_fabrikaat_systeem_path(systeem) %></td>
        <td><%= link_to 'Destroy', systeem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Systeem', new_systeem_path %>
