<!-- Page header -->
<%= content_for :page_title do %>
  <h1 class="text-center">Fabrikaten</h1>
<% end %>

<% if @fabrikaten.blank? %>
  <%= render 'layouts/no_data' %>
<% else %>

<table class="hover">
  <thead>
    <tr>
      <th>Fabrikaat</th>
      <th>Systemen</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @fabrikaten.each do |fabrikaat| %>
      <tr>
        <td><%= link_to fabrikaat.name, edit_fabrikaat_path(fabrikaat) %></td>
        <td><%= link_to fabrikaat.systemen.count, fabrikaat_systemen_path(fabrikaat) %></td>
        <td>
          <!-- DELETE -->
          <%= link_to fabrikaat, method: :delete, data: { confirm: 'Weet je het zeker?' } do %>
            <i class="fi-x"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr />
<% end %>

<%= link_to new_fabrikaat_path, class: 'button', id: 'new' do %>
  <i class="fi-plus"></i> Nieuw Fabrikaat
<% end %>
