<p id="notice"><%= notice %></p>

<p>
  <strong>Supplier:</strong>
  <%= @item.supplier %>
</p>

<p>
  <strong>Number:</strong>
  <%= @item.number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Bruto:</strong>
  <%= @item.bruto %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @item.discount %>
</p>

<p>
  <strong>Netto:</strong>
  <%= @item.netto %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
