<%= simple_form_for(@positie_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :quantity %>
    <%= f.association :positie %>
    <%= f.input :item %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
