<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @positie_item.quantity %>
</p>

<p>
  <strong>Positie:</strong>
  <%= @positie_item.positie %>
</p>

<p>
  <strong>Item:</strong>
  <%= @positie_item.item %>
</p>

<%= link_to 'Edit', edit_positie_item_path(@positie_item) %> |
<%= link_to 'Back', positie_items_path %>
