<div class="top-bar">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <div>
      <%= image_tag("gtv.png", size: "50x10", alt: "GTV") %>
      <strong>DistriCalc</strong>
    </div>
  </div>
<!-- Left -->
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><%= link_to 'offertes', offertes_path %></li>
        <li><%= link_to 'calculaties', calculaties_path %></li>
        <li><%= link_to 'fabrikaten', fabrikaten_path %>
            <ul class="menu vertical">
                <li><%= link_to 'systemen', all_systemen_path %></li>
            </ul></li>
        <li><%= link_to 'artikelen', items_path %></li>
      </ul>
    </div>
    <!-- Right -->
    <div class="top-bar-right">
      <ul class="menu">
        <li>
          <%= link_to preferences_path do %>
            <i style='font-size:24px' class="fi-widget"></i> voorkeuren
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
