<div class="large reveal" id="import" data-reveal>
  <%= render 'import' %>
</div>

<%= simple_form_for(@calculatie) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Project naam" %>
    <%= f.input :number, label: "Offerte nummer", input_html: { value: @calculatie.new_record? ? "#{Date.today.year}00".to_i : @calculatie.number } %>

  </div>
  <hr />

  <div class="expanded large button-group">
    <%= f.button :button, class: "button primary", data: { disable_with: "<i class='fi-clock'></i> Verwerken..." } do %>
    <i class="fi-check"></i> Bijwerken

    <% end %>
    <% unless @calculatie.new_record? %>
      <%= link_to calculatie_import_path(@calculatie), class: "button hollow", remote: true, "data-open" => "import", data: { disable_with: "<i class='fi-clock'></i> Verwerken..." } do %>
        <i class="fi-upload"></i> Bestand importeren
      <% end %>
    <% end %>
  </div>
<% end %>
