<% unless @calculatie.new_record? %>
  <h1 class="text-center"><%= @calculatie.number %></h1>
  <p class="lead text-center"><%= @calculatie.name %></p>
  <hr />
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>

  <% unless @calculatie.posities.blank? %>
    <div class="callout alert text-center">
      <h1>Calculatie is niet leeg!</h1>
      <p>
        LET OP:<br />
        Indien je door gaat met het importeren van de calculatie zullen ALLE gegevens worden overschreven!!!.
      </p>
    </div>
    <hr />
  <% end %>

  <div class="row">
    <%= form_tag(calculatie_import_path(@calculatie), multipart: true) do %>
      <div class="form-inputs">
        <%= file_field_tag :file %>
      </div>
      <div class="form-inputs">
        <%= submit_tag "Import", data: { disable_with: "Bezig met verwerken..." } %>
      </div>
      <!-- <label for="exampleFileUpload" class="button">Upload File</label> -->
      <!-- <input type="file" id="exampleFileUpload" class="show-for-sr"> -->
    <% end %>
  </div>
<% end %>
